@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #dcdcdc;
}

header {
  background-color: #080a09;
  margin: auto;
}

.container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header-left img {
  height: 100px;
  width: 100px;
}

.header-rigth {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-search {
  display: flex;
  align-items: center;
}

.header-search form {
  display: flex;
  width: 500px;
  margin-left: 50px;
}

.header-search input {
  font-size: 16px;
  padding: 8px 15px;
  border-radius: 10px;
  border: 2px solid #333;
  width: inherit;
  outline: none;
  background-color: #080a09;
  color: #ccc;
}

.header-search input::placeholder {
  display: flex;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
  text-align: center;
  color: #ccc;
  background-color: #080a09;
}

.header-search button {
  display: flex;
  align-items: center;
  border: 0;
  background-color: transparent;
  margin-left: -30px;
  cursor: pointer;
}

.header-search button img {
  width: 16px;
  height: 16px;
}

.cart-i {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 36px;
  height: 36px;
}

#linkCarrinhoHeader svg path {
  fill: #06ed9d;
}

.cart-i img {
  width: 36px;
  height: 36px;
}

/* carrinho */
.cart {
  display: none;
  border: 1px solid #ddd;
  padding: 10px;
  max-width: 400px;
  width: 400px;
  position: fixed;
  background-color: #fff;
  right: 0;
  top: 0px;
  bottom: 0;
  height: 100vh;
  flex-wrap: wrap;
  align-content: space-between;
  transition: all .4s ease-in-out;
  z-index: 10010;
  justify-content: space-around;
}

#cart-items {
  overflow: auto;
  width: 315px;
  height: 550px;
}

.cart-item {
  border: 1px solid #ccc;
  display: flex;
  margin-bottom: 10px;
  height: 100px;
  width: 299px;
  color: #000;
  align-items: center;
  position: relative;
}

.cart-item img {
  display: flex;
  flex: 1;
  height: inherit;
  margin-right: 10px;
  align-items: center;
}

.cart-item-details {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.cart-item .nome {
  font-size: 13px;
  margin: 0px 0px 10px 5px;
}

.cart-item .oldPriceCard {
  display: flex;
  margin: 0px 0px 0px 5px;
  font-size: 10px;
  line-height: 22px;
  font-weight: 400;
  align-items: center;
  height: 12px;
  color: rgb(86, 92, 105);
  text-decoration: line-through;
}

.cart-item .preco {
  margin: 1px 0px 0px 5px;
  font-size: 15px;
  font-weight: bolder;
  color: #06ed9d;
}

.cart-item input {
  right: 0;
  top: 0;
  position: absolute;
  border: none;
  width: 21px;
  margin: 0;
  padding: 0;
  cursor: context-menu;
}

.cart-summary {
  border-top: 1px solid #F3F4F6;
  padding: 1rem;
  margin-bottom: 20px;
}

.summary-details {
  font-size: 0.875rem;
  color: #4B5563;
}

.summary-total {
  /* display: flex; */
  font-weight: 500;
  font-size: 1rem;
}


.remove-item {
  display: flex;
  background: none;
  border: none;
  color: #374151;
  transition: color 0.2s;
}

.remove-item:hover {
  color: #e20e00;
}

.remove-item-icon {
  width: 16px;
  height: 16px;
}

.but {
  text-align: right;
}

.finalizar {
  background-color: #06ed9d;
  font-weight: 500;
  color: #000;
  padding: 0.75rem 1.25rem;
  text-decoration: none;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
  cursor: pointer;
}
.finalizar:hover {
  opacity: 0.7;
}

.ic {
  height: 47px;
  width: 0px;
  position: fixed;
  top: 0px;
  right: 35px;
  cursor: pointer;
}
.x {
  list-style: none;
  margin: 0;
  padding: 0;
}
.xx {
  margin: 5px 5px 5px 5px;
  height: 4px;
  width: 25px;
  border-radius: 20% / 90%;
  background-color: #06ed9d;
  transition: 1s;
  position: relative;
}
.ic li:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.ic li:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.ic li:nth-child(2) {
  transform: rotate(-45deg);
}


.p-promo {
  background-color: #e20e00;
  display: flex;
  font-weight: bold;
  height: 20px;
  line-height: 10px;
  gap: 70px;
  align-items: center;
  justify-content: center;
  color: #000;
}

.produtos {
  min-height: calc(70vh - 100px);
  margin: 15px 0;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.produto {
  width: 250px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
}

.produtos .item {
  display: flex;
  height: inherit;
  width: inherit;
  color: #000;
  flex-direction: column;
  align-items: flex-start;
  border-radius: inherit;
  justify-content: space-between;
}

.produto-slider {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}

.slider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
  width: inherit;
}

.slide {
  display: none;
  width: 100%;
  height: auto;
}

.slide.active {
  display: block;
}

.slider button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  z-index: 10;
  border-radius: 100%;
}

.slider .prev {
  left: 10px;
}

.slider .next {
  right: 10px;
}


.produtos a img {
  border-radius: inherit;
  height: 240px;
  width: inherit;
}

.produto-descricao {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.qtproduto {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.produtos .nome {
  margin: 5px 0px 17px 5px;
  font-size: 15px;
  font-weight: 600;
  color: rgb(66, 70, 77);
}

p.estoque {
  margin: 0;
  font-size: 8px;
  font-weight: 100;
}

.produtos .oldPriceCard {
  display: flex;
  margin: 0px 0px 0px 5px;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  align-items: center;
  height: 12px;
  color: rgb(86, 92, 105);
  text-decoration: line-through;
}

.produtos .text-xs {
  font-size: 12px;
  line-height: 16px;
  --tw-text-opacity: 1;
  color: rgb(127 133 141 / var(--tw-text-opacity));
}

.margin {
  margin: 0px 0px 0px 7px;
}


.produtos .preco {
  margin: 0px 0px 0px 7px;
  font-size: 21px;
  font-weight: 700;
  color: #06ed9d;
}

button.add-to-cart {
  font-size: 13px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 97%;
  height: 30px;
  color: #FFF;
  cursor: pointer;
  background: #06ed9d;
  border-radius: 10px;
  margin: 1px 3px 3px 3px;
}

button.add-to-cart:hover {
  opacity: 0.7;
}

.add-to-cart {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}


footer {
  background-color: #080a09;
  justify-content: center;
}

.area {
  display: flex;
}

.areaitem {
  flex: 1;
  color: #fff;
}

.widget_title_bar {
  width: 50px;
  height: 2px;
  background-color: #06ed9d;
  margin-top: 10px;
}

.flexColumn {
  flex-direction: column;
}

.widget_title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.widget_title_text {
  color: #fff;
}

.flexColumn {
  flex-direction: column;
}

.widget_img {
  display: flex;
}

.widget_atende {
  display: flex;
  align-items: center;
}

.widget_atendimento .bola {
  display: flex;
  margin: 0 5px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  justify-content: flex-start;
  align-items: center;
}

.widget_atendimento div:nth-child(1) .bola {
  background-color: #128C7E;
}

.widget_atendimento div:nth-child(2) .bola {
  background-color: #C13584;
}

.widget_pagamento .bola {
  display: flex;
  margin: 0 5px;
  height: 35px;
  width: 35px;
  background-color: #09bfb1;
  border-radius: 50%;
  justify-content: flex-start;
  align-items: center;
}

.widget_atendimento div img,
.widget_pagamento div img {
  margin: 0px 12px 0px 7px;
  height: 22px;
  height: 22px;
}

.direitos {
  text-align: center;
  border-top: 1px solid #06ed9d;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  color: #FFF;
  margin-top: 20px;
}

@media (min-width: 769px) and (max-width: 1140px) {
  .container {
    max-width: 900px;
  }

  .p-promo {
    gap: 50px;
  }

  .produtos {
    grid-template-columns: repeat(3, 1fr);
  }
}



.mar {
  height: 12px;
}


@media (min-width: 426px) and (max-width: 768px) {
  .container {
    max-width: 675px;
  }

  .header-search form {
    width: 300px;
  }

  .p-promo {
    gap: 50px;
  }

  .produtos {
    grid-template-columns: repeat(3, 1fr);
  }

  .produto {
    width: 200px;
    height: 350px;
  }

  .produtos div img {
    border-radius: inherit;
    height: 200px;
    width: inherit;
  }

  button.add-to-cart {
    width: 97%;
    height: 30px
  }
}

@media (max-width: 426px) {
  .container {
    max-width: 400px;
  }


  .header-search form {
    width: 100px;
  }

  .header-search input {
    padding: 8px 20px 8px 15px;
  }

  .p-promo {
    gap: 10px;
  }

  .cart {
    max-width: 300px;
  }

  .produto {
    width: 150px;
    height: 300px;
  }

  .produtos {
    grid-template-columns: repeat(2, 1fr);
  }

  .produtos .nome {
    margin: 5px 0px 4px 5px;
  }

  .produto-slider {
    height: 150px
  }

  .produtos a img {
    height: 160px;
  }

  .area {
    flex-direction: column;
  }

  .mar {
    height: 25px;
  }
}